<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <h1>Welcome to Login Page</h1>
    <p>Enter Details:</p>
    <form action="#" method="post">
        <label for="name">Enter Name: </label>
        <input type="text" name="name" id="">
        <input type="submit" name="" id="" value="Submit">
    </form>
</body>
</html>