<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Details</title>
</head>
<body>
    <h2>Contact Form</h2>
    {% for msg in form.name.errors %}
        <div>{{msg}}</div>
    {% endfor %}

    {% for msg in form.email.errors %}
        <div>{{msg}}</div>
    {% endfor %}

   <form action="/contact" method="post">
        {{ form.hidden_tag() }} <br>
        {{ form.name.label }} {{ form.name }} <br>
        {{ form.gender.label }} {{ form.gender }} <br>
        {{ form.address.label }} {{ form.address }} <br>
        {{ form.email.label }} {{ form.email }} <br>    
        {{ form.age.label }} {{ form.age }} <br>
        {{ form.language.label}} {{ form.language }} <br>
        {{ form.submit }}  
   </form>

</body>
</html>