<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <h1>Welcome to Login Page</h1>
    <p>Enter your name</p>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages%}
                <p>{{message}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form action="#" method="post">
        <input type="text" name="user" id="">
        <input type="submit" name="" id="" value="'submit">
    </form>

</body>
</html>